@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

/* ====== RESET BASE ====== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove estilo padrão de listas */
ul, ol {
  list-style: none;
}

/* Remove estilos padrão de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Herda fonte dos inputs e botões */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Define altura total e fonte base */
html, body, #root {
  height: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  color: #111;
}

/* Estilização básica para botões */
button {
  cursor: pointer;
  background-color: transparent;
}

/* Imagens responsivas */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Cor de fundo do body */
#root {
  height: 100dvh;
  display: flex;
  justify-content: flex-end; /* joga pro lado direito */
  align-items: center;        /* centraliza verticalmente */
  background-color: #5b86e5;
}

